<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Spotify Top Song</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
  </head>
  <style>
    .underline {
      text-decoration: underline;
    }
    .pointer {
      cursor: pointer;
    }
    @font-face {
      font-family: gotham;
      src: url(/public/font/gotham-rounded/GothamRounded-Medium.otf);
    }
    * {
      font-family: gotham;
    }
    rect.bar {
      fill: steelblue;
      cursor: pointer;
    }
    .clicked {
      fill: red !important;
    }
    rect.bar:hover {
      fill: rgba(60, 100, 180);
    }
  </style>
  <body>
    <div
      class="container-fluid"
      style="padding: 16px 32px; background: black; color: white;"
    >
      <img
        src="/public/images/Spotify_Logo_RGB_White.png"
        style="max-height: 48px; width: auto;"
      />
    </div>
    <div class="container-fluid main">
      <div class="container main-content" style="padding: 24px;">
        <label style="font-size: 4em;">Summary</label><br />
        <label style="font-size: 2em;">200 Top songs on Thailand chart</label
        ><br />
        <div
          class="btn-group"
          role="group"
          aria-label="Basic example"
          style="padding: 0 0 24px 0;"
        >
          <button type="button" id="duration" class="btn btn-secondary">
            Duration
          </button>
          <button type="button" id="tempo" class="btn btn-secondary">
            Tempo
          </button>
          <button type="button" id="acoustic" class="btn btn-secondary">
            Acousticness
          </button>
          <button type="button" id="danceability" class="btn btn-secondary">
            Danceability
          </button>
          <button type="button" id="energy" class="btn btn-secondary">
            Energy
          </button>
          <button type="button" id="instrumentalness" class="btn btn-secondary">
            Instrumentalness
          </button>
          <button type="button" id="loudness" class="btn btn-secondary">
            Loudness
          </button>
          <button type="button" id="liveness" class="btn btn-secondary">
            Liveness
          </button>
        </div>
        <br />
        <h2 id="header"></h2>
        <label id="description"></label>
        <div id="d3field"></div>
        <div id="d3description"></div>
      </div>
    </div>
  </body>
  <script>
    const feature_list = [
      'acousticness',
      'danceability',
      'duration_ms',
      'energy',
      'instrumentalness',
      'liveness',
      'loudness',
      'speechiness',
      'tempo',
    ];
    function getFeatures(query, accessToken) {
      return new Promise((res, rej) => {
        $.ajax({
          url: 'https://api.spotify.com/v1/audio-features?ids=' + query,
          type: 'GET',
          dataType: 'json',
          headers: {
            Authorization: 'Bearer ' + accessToken,
          },
          contentType: 'application/json; charset=utf-8',
          success: function(result) {
            res(result);
          },
          error: function(error) {
            rej(error);
          },
        });
      });
    }
    function getSpotifyPlayer(accessToken) {
      return new Promise((res, rej) => {
        window.onSpotifyWebPlaybackSDKReady = () => {
          const token = accessToken;
          const player = new Spotify.Player({
            name: 'Web Playback SDK Quick Start Player',
            getOAuthToken: cb => {
              cb(token);
            },
          });

          // Error handling
          player.addListener('initialization_error', ({ message }) => {
            console.error(message);
          });
          player.addListener('authentication_error', ({ message }) => {
            console.error(message);
          });
          player.addListener('account_error', ({ message }) => {
            console.error(message);
          });
          player.addListener('playback_error', ({ message }) => {
            console.error(message);
          });

          // Playback status updates
          player.addListener('player_state_changed', state => {
            console.log(state);
          });

          // Ready
          player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);
          });

          // Not Ready
          player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
          });

          // Connect to the player!
          player.connect();
          res(player);
        };
      });
    }
    async function main() {
      const topsong_csv = (await $.get('/public/regional-th-daily-latest.csv'))
        .split('\n')
        .map(e => e.split(','))
        .slice(1);
      topsong_csv.pop();
      const accessToken = (await $.get('/accessToken')).accessToken;
      const player = await getSpotifyPlayer(accessToken);
      const query1 = topsong_csv
        .slice(1)
        .slice(0, 100)
        .map(e => e[e.length - 1].split('/').pop())
        .join(',');
      const query2 = topsong_csv
        .slice(1)
        .slice(100)
        .map(e => e[e.length - 1].split('/').pop())
        .join(',');
      const features = (await Promise.all([
        getFeatures(query1, accessToken),
        getFeatures(query2, accessToken),
      ]))
        .map(e => e.audio_features)
        .flat();
      const features_dict = {};
      for (const i in features) {
        features_dict[features[i].id] = features[i];
      }
      for (const i in feature_list) {
        topsong_csv[0].push(feature_list[i]);
      }
      for (let i = 1; i < topsong_csv.length; i++) {
        const row = topsong_csv[i];
        const song_id = row[row.length - 1].split('/').pop();
        const feature = features_dict[song_id];
        const append_feature = feature_list.map(e => feature[e]);
        for (const j in append_feature) {
          row.push(append_feature[j]);
        }
      }
      const data_csv = topsong_csv.map(e => e.join(',')).join('\n');
      const description = $('#description');
      const header = $('#header');
      const d3description = $('#d3description');
      $('#duration').click(() => {
        d3description.empty();
        header.html('Duration');
        description.html('The duration of the track');
        hist(
          data_csv,
          player,
          'duration_ms',
          'Song duration (Min)',
          e => e / (60 * 1000),
        );
      });
      $('#tempo').click(() => {
        d3description.empty();
        header.html('Tempo');
        description.html(
          'The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.',
        );
        hist(data_csv, player, 'tempo', 'Tempo (Beats/Min)');
      });
      $('#acoustic').click(() => {
        d3description.empty();
        header.html('Acousticness');
        description.html(
          'A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic',
        );
        hist(data_csv, player, 'acousticness', 'Acousticness');
      });
      $('#danceability').click(() => {
        d3description.empty();
        header.html('Danceability');
        description.html(
          'Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.',
        );
        hist(data_csv, player, 'danceability', 'Danceability');
      });
      $('#energy').click(() => {
        d3description.empty();
        header.html('Energy');
        description.html(
          'Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy. ',
        );
        hist(data_csv, player, 'energy', 'Energy');
      });
      $('#instrumentalness').click(() => {
        d3description.empty();
        header.html('Instrumentalness');
        description.html(
          'Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.',
        );
        hist(data_csv, player, 'instrumentalness', 'Instrumentalness');
      });
      $('#loudness').click(() => {
        d3description.empty();
        header.html('Loudness');
        description.html(
          'The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.',
        );
        hist(data_csv, player, 'loudness', 'Loudness');
      });
      $('#liveness').click(() => {
        d3description.empty();
        header.html('Liveness');
        description.html(
          'Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.',
        );
        hist(data_csv, player, 'liveness', 'Liveness');
      });
    }
    function hist(string_csv, player, column, labelX, transform = e => e) {
      $('#d3field').empty();
      // get the data
      const data = d3.csvParse(string_csv, d => {
        feature_list.map(e => (d[e] = +d[e]));
        d[column] = transform(d[column]);
        return { ...d, Position: +d.Position };
      });
      console.log(data);
      // set the dimensions and margins of the graph
      var margin = { top: 10, right: 30, bottom: 60, left: 60 },
        width = 800 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;
      const min_domain = data.reduce((p, c) => (c[column] < p[column] ? c : p))[
        column
      ];
      const max_domain = data.reduce((p, c) => (c[column] > p[column] ? c : p))[
        column
      ];
      var x = d3
        .scaleLinear()
        .domain([0.8 * min_domain, 1.2 * max_domain])
        .range([0, 960 - margin.left - margin.right]);
      var y = d3.scaleLinear().range([height, 0]);
      // set the parameters for the histogram
      var histogram = d3
        .histogram()
        .value(function(d) {
          return d[column];
        })
        .domain(x.domain())
        .thresholds(x.ticks(20));
      // append the svg object to the body of the page
      // append a 'group' element to 'svg'
      // moves the 'group' element to the top left margin
      var svg = d3
        .select('#d3field')
        .append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .append('g')
        .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
      // format the data
      // group the data for the bars
      var bins = histogram(data);
      console.log(bins);
      // Scale the range of the data in the y domain
      y.domain([
        0,
        d3.max(bins, function(d) {
          return d.length;
        }),
      ]);
      // append the bar rectangles to the svg element
      svg
        .selectAll('rect')
        .data(bins)
        .enter()
        .append('rect')
        .attr('class', 'bar')
        .attr('x', 1)
        .attr('transform', function(d) {
          return 'translate(' + x(d.x0) + ',' + y(d.length) + ')';
        })
        .attr('width', function(d) {
          return x(d.x1) - x(d.x0) - 1;
        })
        .attr('height', function(d) {
          return height - y(d.length);
        })
        .on('click', function(d, i) {
          console.log(d);
          svg.selectAll('rect').classed('clicked', false);
          $(this).addClass('clicked');
          const description = $('#d3description');
          description.empty();
          description.append(
            `<label>From x = ${d.x0} to ${d.x1} ( Total ${
              d.length
            } songs )</label>`,
          );
          const table = $('<table>').addClass('table-hover').addClass('table');
          const thead = $('<thead>');
          const header = $('<tr>');
          header.append('<th scope="col">Rank</th>');
          header.append('<th scope="col">Name</th>');
          header.append('<th scope="col">Artist</th>');
          header.append(`<th scope="col">${labelX}</th>`);
          thead.append(header);
          table.append(thead);
          const tbody = $('<tbody>');
          d.map(e => {
            const each_row = $('<tr>');
            each_row.addClass('pointer');
            each_row.click(() => {
              play({
                playerInstance: player,
                spotify_uri: `spotify:track:${e['URL'].split('/').pop()}`,
              });
            });
            [
              e['Position'],
              e['Track Name'],
              e['Artist'],
              e[column].toFixed(2),
            ].forEach(each => {
              const cell = $('<td>');
              cell.html(each);
              each_row.append(cell);
            });
            tbody.append(each_row);
          });
          table.append(tbody);
          description.append(table);
          const play = ({
            spotify_uri,
            playerInstance: {
              _options: { getOAuthToken, id },
            },
          }) => {
            getOAuthToken(access_token => {
              fetch(
                `https://api.spotify.com/v1/me/player/play?device_id=${id}`,
                {
                  method: 'PUT',
                  body: JSON.stringify({ uris: [spotify_uri] }),
                  headers: {
                    'Content-Type': 'application/json',
                    Authorization: `Bearer ${access_token}`,
                  },
                },
              );
            });
          };
          if (d.length > 0) {
            play({
              playerInstance: player,
              spotify_uri: `spotify:track:${d[0]['URL'].split('/').pop()}`,
            });
          }
          // description.append()
        });
      // add the x Axis
      svg
        .append('g')
        .attr('transform', 'translate(0,' + height + ')')
        .call(d3.axisBottom(x));
      // add the y Axis
      svg.append('g').call(d3.axisLeft(y));
      svg
        .append('text')
        .attr('transform', 'rotate(-90)')
        .attr('y', 0 - margin.left)
        .attr('x', 0 - height / 2)
        .attr('dy', '1em')
        .style('text-anchor', 'middle')
        .text('Number of songs');
      svg
        .append('text')
        .attr(
          'transform',
          'translate(' + width / 2 + ' ,' + (height + margin.top + 40) + ')',
        )
        .style('text-anchor', 'middle')
        .text(labelX);
    }
    main();
  </script>
</html>
